.navbar.navbar-default.navbar-fixed-top
  div(style="padding: 0 15px;")
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        //span.sr-only Toggle navigation
        //span.icon-bar
        //span.icon-bar
        //span.icon-bar
        if user
          if user.profile.picture
            img.img-circle(src='#{user.profile.picture}')
          else
            img.img-circle(src='#{user.gravatar(60)}')
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        //- if !user
        //-   li(class=(title == 'Login') ? 'active' : undefined)
        //-     a(href='/login') Login
        //-   li(class=(title == 'Create Account') ? 'active' : undefined)
        //-     a(href='/signup') Create Account
        //- else
        li
          a.btn-translate(href="#", data-locale=(i18n.locale == 'en') ? 'en' : 'zh')
            button.btn.btn-primary(style="margin-top: 13px;")
              if i18n.locale == 'en'
                | Chinese
              else
                | English
        li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
          if user
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.img-circle(src='#{user.profile.picture}')
              else
                img.img-circle(src='#{user.gravatar(60)}')
            div.dropdown-menu
              div.clearfix
                div.profile-pic-container

                    if user.profile.picture
                      img.img-circle(src='#{user.profile.picture}')
                    else
                      img.img-circle(src='#{user.gravatar(60)}')
                div.profile-info-container
                  ul
                    li 
                      strong #{user.profile.name}
                    li #{user.email}
              div.profile-buttons
                a.btn.btn-primary.btn-translate(href="#", role="button") Translate
                a.btn.btn-primary.btn-logout(href="/logout", role="button") Logout

                //button.btn.btn-primary(role="button" type="submit") Translate
                //button.btn.btn-primary(role="button" type="submit") Logout
