include header
.container.main
  div.content.sign-up-page
    h1 #{i18n.__("sign-up:title")}

    form.form-horizontal(method='POST', action='/signup')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        input.form-control(type='text', name='first-name', id='first-name', placeholder='#{i18n.__("sign-up:first-name")}', autofocus=true, required)

      .form-group
        input.form-control(type='text', name='last-name', id='last-name', placeholder='#{i18n.__("sign-up:last-name")}', autofocus=true, required)
      
      .form-group
        //span.input-group-addon
        //  i.fa.fa-envelope.fa-fw(aria-hidden="true")
        input.form-control(type='email', name='email', id='email', placeholder='#{i18n.__("sign-up:email")}', autofocus, required)

      .form-group
        //span.input-group-addon
        //  i.fa.fa-key.fa-fw(aria-hidden="true")
        input.form-control(type='password', name='password', id='password', placeholder='#{i18n.__("sign-up:password")}', required)

      .form-group
        //span.input-group-addon
        //  i.fa.fa-check.fa-fw(aria-hidden="true")
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='#{i18n.__("sign-up:confirm-password")}', required)
      
      .form-group
        button.btn.btn-success(type='submit', style="width: 100%;")
          i.fa.fa-user-plus
          | #{i18n.__("sign-up:sign-up")}

      .form-group
        a.btn.btn-primary(href="/login", role="button", style="width: 100%;") #{i18n.__("sign-up:back")}
